@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");

* {
  margin: 0px;
  padding: 0px;
  color: white;
}
.container {
  margin: 20px;
  color: white;
  text-align: center;
  /* font-size: 15px; */
}
.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid red; */
}
#logo {
  width: 40px;
  height: 40px;
}
#hamburger {
  width: 24px;
  height: 21px;
  /* position: fixed; */
}
#navigation {
  display: none;
  position: absolute;
  top: 0px;
  text-align: left;
  right: 0px;
  height: 100%;
  width: 50%;
}
#navigation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.55px);
  z-index: 0;
}
body {
  background-image: url(./assets/crew/background-crew-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#content {
  margin-top: 20px;
  /* text-align: center; */
}
#content p {
  font-family: "Barlow", sans-serif;
  color: #d0d6f9;
  font-weight: 400;
  line-height: 25px;
  font-size: 15px;
  text-indent: 1px;
}
#content img {
  width: 170px;
  height: 300px;
  margin: 30px 30px 0px 30px;
  padding-bottom: 0px;
}

.borderImg {
  margin: -2px auto 0px auto;
  border-top: 2px solid #979797;
  width: 95%;
}

h1 {
  font-size: 16px;
  margin-top: 20px;
  /* margin-bottom: 50px; */
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Bellefair", serif;
  font-weight: 400;
  line-height: 100px;
}
#content h1 .titleNumber {
  opacity: 0.25;
}

h2 {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: "Bellefair", serif;
}

.navigationPlanet {
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
  width: 100px;
}

.navigationPlanet a {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid white;
}

.navigationPlanet a:active {
  background: white;
}

.navigationPlanet a:focus {
  background: white;
}

.navigationPlanet a:visited {
  background: white;
}

.lineBorder {
  border-bottom: 2px solid #979797;
  /* margin: 20px auto 20px auto; */
}

/* here opacity needs to be provided to specific titles only not whole
p tag block */

.avgDistance,
.estTravelTime {
  text-transform: uppercase;
  margin: 20px;
  font-size: 14px;
  opacity: 0.8;
}

#distance,
#travelTime {
  display: block;
  font-size: 28px;
  margin-top: 10px;
  font-family: "Bellefair", serif;
  opacity: 1;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #d0d6f9;
  text-transform: uppercase;
  margin-top: 50px;
  font-family: "Barlow Condensed", sans-serif;
}
#explore {
  margin: 45px auto auto auto;
  text-transform: uppercase;
  background-color: white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0b0d17;
  font-size: 20px;
  font-family: "Bellefair", serif;
  line-height: 23px;
  letter-spacing: 1.25px;
}

#navigation ul {
  position: relative;
  list-style-type: none;
  font-family: "Barlow Condensed", sans-serif;
  color: white;
}

#navigation ul li {
  margin: 50px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

#navigation ul li a {
  color: white;
  text-decoration: none;
  /* border: 2px soild red; */
}
#close {
  position: relative;
  display: none;
  width: 19.9px;
  height: 19.9px;
  left: 88%;
  top: 30px;
  z-index: 111;
}
#navNum {
  font-weight: 700;
}
.navigationPlanet a {
  letter-spacing: 5px;
  text-decoration: none;
}
.navigationPlanet a:hover {
  border-bottom: 2px solid white;
}

@media screen and (min-width: 768px),
  screen and (min-height: 1024px),
  screen and(max-width: 1439px) {
  body {
    background-image: url(./assets/crew/background-crew-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container {
    margin: 0px 20px auto 20px;
  }
  .heading {
    /* border: 2px solid red; */
    height: 70px;
  }
  #navigation {
    display: flex;
    position: relative;
    width: 60%;
    /* border: 2px solid red; */
    height: 100%;
    /* background: #979797; */
  }

  #navigation ul {
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  #navigation ul li {
    margin: 0px;
    text-transform: uppercase;
  }
  #navigation ul li:hover {
    margin: 0px;
    display: flex;
    text-transform: uppercase;
    box-sizing: border-box;
    border-bottom: 2px solid white;
    align-items: center;
    height: 100%;
  }

  #navNum {
    display: none;
  }

  #hamburger {
    display: none;
  }

  #explore {
    margin: 300px auto 100px auto;
  }
  .borderImg {
    display: none;
  }

  #content {
    display: flex;
    flex-direction: column;
  }
  #content h1 {
    text-align: left;
    order: 1;
  }
  #content img {
    order: 4;
    margin: 20px auto 0px auto;
  }
  #content .navigationPlanet {
    order: 3;
    margin-bottom: 0px;
  }
  #content #innerContent {
    order: 2;
    margin: auto 100px auto 100px;
  }
}

@media screen and (min-width: 1440px), screen and (min-height: 900px) {
  body {
    background-image: url(./assets/crew/background-crew-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  #line {
    position: relative;
    height: 1px;
    border-top: 2px solid #979797;
    width: 100%;
    margin: auto -20px auto 20px;
    z-index: 100;
    opacity: 0.3;
  }
  #navigation {
    width: 150%;
    /* border: 2px solid red; */
  }
  #content {
    width: 89%;
    margin: 0px auto;
    display: grid;
    grid-template-areas:
      "heading image"
      "contents image"
      "scrolls image";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.3fr 1fr 0.6fr;
  }
  .borderImg {
    display: none;
  }
  #content h1 {
    grid-area: heading;
  }
  #content img {
    grid-area: image;
    width: auto;
    height: auto;
  }
  #content #innerContent {
    grid-area: contents;
    text-align: left;
  }
  .navigationPlanet {
    grid-area: scrolls;
    margin-left: 10rem;
    /* border: 2px solid red; */
  }
  #content #innerContent p {
    width: 500px;
  }
  /* #content {
    text-align: left;
  } */
}
